<h1>Stars Received Per Repo</h1>

User: <%= @user %>
<br>
<% @star_views.each do |star_view| %>
    <b>Repo: <%= star_view[:repo_name] %></b>
    <div style="width: 1650px;">
      <div id=<%= "#{star_view[:repo_name]}_year_chart" %> style="display: inline-block;"></div>
      <div id=<%= "#{star_view[:repo_name]}_month_chart" %> style="display: inline-block;"></div>
    </div>
    <br>
    <%= render partial: "stars", locals: {star_view: star_view[:repo_stars]} %>
    <br>

<% end %>
<% content_for :js do %>
    <script type="text/javascript">
    var repoData =
      <%= @star_views.collect do |star_view|
      [
          star_view[:repo_name],
          star_view[:repo_stars][:stars][:years].collect { |y| y.to_s }.zip(star_view[:repo_stars][:stars][:year_star_totals]),
          Date::MONTHNAMES[1..-1].zip(star_view[:repo_stars][:stars][:month_star_totals])
      ]

      end.to_s.html_safe %>;
    </script>
    <%= render partial: "star_charts" %>
<% end %>